<template>
    <router-view/>
</template>

<script lang="ts">
    import Vue from 'vue'
    export default Vue.extend({
        name: 'app',
    })
</script>

<style>
@font-face {
    font-family: "Open Sans Light";
    src: url(assets/opensans-light.woff2);
}

html {
    touch-action: manipulation;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans Light", "Helvetica Neue", Helvetica, sans-serif;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

a {
    color: inherit;
}

*:focus {
    outline: none;
}

.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 10% 0%;
    background-image: url(assets/background.jpg);
    z-index: -100;
}

.button {
    color: #ffffff;
    background-color: #FF7D00;
    width: 70vw;
    padding: 3vw;
    font-size: 4.5vw;
    border-radius: 8vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 3vh 0 0 0;
}
</style>
