<template>
    <div id="home">
        <div class="background"></div>
        <div v-if="!joined">
            <img class="icon" src="../assets/icon.svg">
            <div class="title">Up for lunch?</div>
            <div class="button" @click="join()">Sure</div>
        </div>
        <div v-if="timeUntilLunch > 0">
            <img  class="countdown-icon" src="../assets/icon.svg">
            <div class="lunchtime">Lunch time</div>
            <div class="countdown">in {{ timeUntilLunch | formatTime }} seconds</div>
        </div>
        <div>

        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import {join, user} from "../backend/backend";

    @Component({})
    export default class Home extends Vue
    {
        group:string[] = []
        dayIndex = 0;
        joined = false;
        lunchTime = 0;
        timeUntilLunch = 0;

        constructor()
        {
            super();
            setInterval(() => this.update(), 1000)
        }

        mounted()
        {
            this.update()
        }

        update()
        {
            var millis = Date.now() - new Date(2018, 5, 1).getTime();
            this.dayIndex = Math.round(millis/1000/60/60/24);
            this.joined = user.joinedDayIndex ==  this.dayIndex;

            if(this.joined)
            {
                var now = new Date();
                this.lunchTime = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 19, 0).getTime();
                this.timeUntilLunch = this.lunchTime - Date.now();
            }
        }

        async join()
        {
            if ((<any>Notification).permission != "granted")
            {
                await (<any>Notification).requestPermission()
            }
            var notification = new (<any>Notification)("It's Lunch Time", {body: "Your group:\nHeiko Weible\nMax Müller\nHans Wurst", requireInteraction:true});
            //await join(this.dayIndex);
            //this.update();
        }
    }
</script>

<style scoped>
    .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 10% 0%;
        background-image: url(../assets/background.jpg);
        z-index: -100;
    }

    #home {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    div {
        align-items: center;
        text-align: center;
    }

    .title {
        margin: 15vh 0 0 0;
        font-size: 6.5vh;
    }

    .icon {
        margin: 15vh 0 0 0;
        height: 20vh;
        opacity: .1;
    }

    .lunchtime {
        font-size: 6vh;
    }

    .countdown {
        font-size: 3vh;
    }

    .countdown-icon {
        margin: 30vh 0 0 0;
        width: 20vh;
        opacity: .6;
    }
</style>
