<template>
    <div id="login">
        <div class="background"></div>
        <text-input id="email" label="E-Mail" v-model="email"></text-input>
        <div class="button" @click="signup">Lunch sounds good!</div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import TextInput from "../components/TextInput.vue";
    import {signup} from "../backend/backend";
    import router from "../router/router";
    //import router from "../router/router";

    @Component({ components: { TextInput } })
    export default class Signup extends Vue
    {
        email = ""

        signup()
        {
            var atPos = this.email.indexOf("@");
            var segments = this.email.substr(0,atPos).split(".");
            var name = "";
            for(var segment of segments)
            {
                if(name) name += " "
                name += segment.substr(0,1).toUpperCase() + segment.substr(1).toLowerCase();
            }
            signup(name, this.email)
            router.replace("/")
        }
    }
</script>

<style scoped>
    #login {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    div {
        align-items: center;
        text-align: center;
    }

    .title {
        margin: 15vh 0 0 0;
        font-size: 6.5vh;
    }

    .icon {
        margin: 15vh 0 0 0;
        height: 20vh;
        opacity: .1;
    }

    #email {
        margin: 30vh 0 0 0;
    }
</style>
