<template>
    <div class="group">
        <input :type="type" required :value="value" @input="$emit('input', $event.target.value)" @focus="$emit('focus')" autocomplete="false">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>{{ label }}</label>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component({
        props: {
            label: String,
            value: String,
            type: {
                type: String,
                default: "text"
            }
        }
    })
    export default class TextInput extends Vue
    {
    }
</script>

<style scoped>
/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 6vw;
}

input {
    font-size: 5vw;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 70vw;
    border: none;
    border-bottom: 1px solid #404040;
    background-color: rgb(0, 0, 0, 0);
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #505050;
    font-size: 5vw;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -3.5vw;
    font-size: 3vw;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 70vw;
}

.bar:before, .bar:after {
    content: '';
    height: 3px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #FF7D00;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 20vw;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #FF7D00;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #FF7D00;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #FF7D00;
    }
    to {
        width: 0;
        background: transparent;
    }
}
</style>
